---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<theme-picker>
			<label
				><input
					type="radio"
					name="theme"
					id="theme-auto"
					checked=""
				/>Auto</label
			>
			<label><input type="radio" name="theme" id="theme-light" />Light</label>
			<label><input type="radio" name="theme" id="theme-dark" />Dark</label>
		</theme-picker>
		<slot />
	</body>
</html>

<style>
	theme-picker {
		display: flex;
		flex-direction: row-reverse;
		padding: var(--space-xs);
		& label {
			box-shadow: var(--shadow-sm) inset;
			background: var(--color-bg);
			padding: var(--space-xs);
			cursor: pointer;
			user-select: none;
			&:first-child {
				border-radius: var(--radius-sm) 0 0 var(--radius-sm);
			}
			&:last-child {
				border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
			}
			&:has(input:checked) {
				box-shadow: var(--shadow-lg) inset;
			}
		}
		& input {
			opacity: 0;
			position: absolute;
			pointer-events: none;
		}
	}
</style>
